<div class="panel panel-default">
    <div class="panel-heading">
        <h5 class="panel-title"><span class="fa fa-list"></span> 功能列表</h5>
    </div>
    <div class="panel-body">
        <ul class="list-group">
            <li class="list-group-item"><a asp-controller="Module" asp-action="Index"><span class="fa fa-th-large"></span> 模块配置</a></li>
        </ul>
    </div>
</div>