@model Ninesky.Models.Category
@{
    ViewData["Title"] = "添加栏目";
}

<ol class="breadcrumb">
    <li><span class="fa fa-home"></span>  <a asp-controller="Home" asp-action="Index">首页</a></li>
    <li><a asp-controller="Category" asp-action="Index">栏目管理</a></li>
    <li class="active">添加栏目</li>
</ol>

<div class="panel panel-default">
    <div class="panel-heading"><i class="fa fa-"></i></div>
    <div class="panel-body">
    </div>
</div>
@section aside{

    @Html.Partial("Aside")
}
