<div class="panel panel-default">
    <div class="panel-heading">
        <h5 class="panel-title"><span class="glyphicon glyphicon-tasks"></span> 栏目列表</h5>
    </div>
    <div class="panel-body">
        <ul id="categoryTree" class="ztree"></ul>
    </div>
</div>