@model Ninesky.Models.Category

@{
    ViewData["Title"] = "View1";
}

<h2>View1</h2>

<form asp-action="View1">
    <div class="form-horizontal">
        <h4>Category</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="CategoryId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CategoryId" class="form-control" />
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Type" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Type" class="form-control" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ParentId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ParentId" class="form-control" />
                <span asp-validation-for="ParentId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ParentPath" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ParentPath" class="form-control" />
                <span asp-validation-for="ParentPath" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Depth" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Depth" class="form-control" />
                <span asp-validation-for="Depth" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ChildNum" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ChildNum" class="form-control" />
                <span asp-validation-for="ChildNum" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Order" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Order" class="form-control" />
                <span asp-validation-for="Order" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PicUrl" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PicUrl" class="form-control" />
                <span asp-validation-for="PicUrl" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Meta_Keywords" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Meta_Keywords" class="form-control" />
                <span asp-validation-for="Meta_Keywords" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Meta_Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Meta_Description" class="form-control" />
                <span asp-validation-for="Meta_Description" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="ShowOnMenu" />
                    <label asp-for="ShowOnMenu"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Creater" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Creater" class="form-control" />
                <span asp-validation-for="Creater" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="View" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="View" class="form-control" />
                <span asp-validation-for="View" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Target" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Target" class="form-control" />
                <span asp-validation-for="Target" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ContentModuleId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ContentModuleId" class="form-control" />
                <span asp-validation-for="ContentModuleId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ContentView" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ContentView" class="form-control" />
                <span asp-validation-for="ContentView" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ContentOrder" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ContentOrder" class="form-control" />
                <span asp-validation-for="ContentOrder" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PageSize" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PageSize" class="form-control" />
                <span asp-validation-for="PageSize" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="LinkUrl" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="LinkUrl" class="form-control" />
                <span asp-validation-for="LinkUrl" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
